name: "Keepalive"

on:
  schedule:
    - cron: "0 0 1 * *"   # Monthly on the 1st

jobs:
  keepalive:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@v5
      - uses: gautamkrishnar/keepalive-workflow@v2
